.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #f5f7ff, #f0f4ff);
  /* background: rgb(236, 237, 241); */
  /* background-color: #f0f4ff; */
  /* background-color: #f8f9fc; */
  /* background-color: #f5f7ff; */
  color: #333;
  min-height: 1000vh; 

}
/* a {
  text-decoration: none;
  color: inherit;
} */

.contents {
  /* margin: 0 auto;
  width: 70%; */

  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  padding: 20px;
}
.pages {
  width: 100%;
  max-width: 800px;        /* 최대 너비 제한 */
  margin: 110px auto;
}

@media (max-width: 768px) {
  .pages {
    max-width: 100%;
    padding: 0 20px;
  }
}
